#pragma once

#cmakedefine ABYTEK_OSB_ENABLE_DEBUG_NAME @ABYTEK_OSB_ENABLE_DEBUG_NAME@

#cmakedefine ABYTEK_BASE_PLATFORM_ENABLE_FILE_SYSTEM @ABYTEK_BASE_PLATFORM_ENABLE_FILE_SYSTEM@
#cmakedefine ABYTEK_BASE_PLATFORM_ENABLE_LOW_LEVEL_MEMORY @ABYTEK_BASE_PLATFORM_ENABLE_LOW_LEVEL_MEMORY@
#cmakedefine ABYTEK_BASE_PLATFORM_ENABLE_IPC @ABYTEK_BASE_PLATFORM_ENABLE_IPC@
#cmakedefine ABYTEK_BASE_PLATFORM_ENABLE_IPC_PIPE @ABYTEK_BASE_PLATFORM_ENABLE_IPC_PIPE@