CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.idea

.vs

[Bb]uild
[Cc]make-build*

.DS_Store

.APT

Modules/Abytek/Modules/Public/Engine/Modules/Public/Core/JS/Abytek/Apps/DevelopmentDataServer/node_modules

.IgnoreSVC

Intermediate