#pragma once

#include "Abytek/Base.Core.config.hpp"

#ifdef ABYTEK_ENABLE_DEVELOPMENT_DATA
#cmakedefine ABYTEK_DEVELOPMENT_DATA_DIR "@ABYTEK_DEVELOPMENT_DATA_DIR@"
#cmakedefine ABYTEK_GLOBAL_IMPORT_JS_FILE "@ABYTEK_GLOBAL_IMPORT_JS_FILE@"
#cmakedefine ABYTEK_NODEJS_EXECUTABLE "@ABYTEK_NODEJS_EXECUTABLE@"
#cmakedefine ABYTEK_NPM_EXECUTABLE "@ABYTEK_NPM_EXECUTABLE@"
#cmakedefine ABYTEK_DEVELOPMENT_DATA_SERVER_JS_FILE "@ABYTEK_DEVELOPMENT_DATA_SERVER_JS_FILE@"
#cmakedefine ABYTEK_DEVELOPMENT_DATA_SERVER_DIR "@ABYTEK_DEVELOPMENT_DATA_SERVER_DIR@"
#endif

#cmakedefine ABYTEK_ENABLE_EDITOR

#cmakedefine ABYTEK_ENABLE_SOCKET_IO_CLIENT @ABYTEK_ENABLE_SOCKET_IO_CLIENT@