#pragma once

#cmakedefine ABYTEK_ENGINE_DIR "@ABYTEK_ENGINE_DIR@"
#cmakedefine ABYTEK_ENGINE_BUILD_DIR "@ABYTEK_ENGINE_BUILD_DIR@"

#cmakedefine ABYTEK_EBT_ENVIRONMENT "@ABYTEK_EBT_ENVIRONMENT@"
#cmakedefine ABYTEK_EBT_ENVIRONMENT_DEVELOPMENT
#cmakedefine ABYTEK_EBT_ENVIRONMENT_DEVELOPMENT_MAX_OPTIMIZED
#cmakedefine ABYTEK_EBT_ENVIRONMENT_COOKED
#cmakedefine ABYTEK_EBT_ENVIRONMENT_COOKED_MAX_OPTIMIZED

#cmakedefine ABYTEK_EBT_CMAKE_CONFIG "@ABYTEK_EBT_CMAKE_CONFIG@"
#cmakedefine ABYTEK_EBT_CMAKE_CONFIG_AUTO
#cmakedefine ABYTEK_EBT_CMAKE_CONFIG_DEBUG
#cmakedefine ABYTEK_EBT_CMAKE_CONFIG_RELEASE
#cmakedefine ABYTEK_EBT_CMAKE_CONFIG_REL_WITH_DEB_INFO
#cmakedefine ABYTEK_EBT_CMAKE_CONFIG_MIN_SIZE_REL
#ifdef ABYTEK_EBT_CMAKE_CONFIG_AUTO
#ifdef NDEBUG
#define ABYTEK_EBT_CMAKE_CONFIG_RELEASE
#else 
#define ABYTEK_EBT_CMAKE_CONFIG_DEBUG
#endif
#endif

#cmakedefine ABYTEK_EBT_CMAKE_GENERATOR "@ABYTEK_EBT_CMAKE_GENERATOR@"
#cmakedefine ABYTEK_EBT_CMAKE_GENERATOR_VISUAL_STUDIO_2026
#cmakedefine ABYTEK_EBT_CMAKE_GENERATOR_VISUAL_STUDIO_2022
#cmakedefine ABYTEK_EBT_CMAKE_GENERATOR_NINJA
#cmakedefine ABYTEK_EBT_CMAKE_GENERATOR_UNIX_MAKEFILES
#cmakedefine ABYTEK_EBT_CMAKE_GENERATOR_XCODE

#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH "@ABYTEK_EBT_PROCESSOR_ARCH@"
#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH_AUTO
#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH_X86_32
#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH_X86_64
#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH_ARM_32
#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH_ARM_64
#cmakedefine ABYTEK_EBT_PROCESSOR_ARCH_WASM

#cmakedefine ABYTEK_ENABLE_MAX_OPTIMIZATION

#cmakedefine ABYTEK_ENABLE_ANODE
#cmakedefine ABYTEK_ENABLE_OPERATOR
#cmakedefine ABYTEK_ENABLE_STANDALONE
#cmakedefine ABYTEK_ENABLE_EDITOR

#cmakedefine ABYTEK_ENABLE_WIDE_CHAR_TEXT

// platform specific instruction extension options
#cmakedefine ABYTEK_ENABLE_SSE
#cmakedefine ABYTEK_ENABLE_SSE2
#cmakedefine ABYTEK_ENABLE_SSE3
#cmakedefine ABYTEK_ENABLE_SSE4
#cmakedefine ABYTEK_ENABLE_AVX
#cmakedefine ABYTEK_ENABLE_AVX2
#cmakedefine ABYTEK_ENABLE_FMA3
#cmakedefine ABYTEK_ENABLE_ARM_NEON

#cmakedefine ABYTEK_FORCE_DISABLE_DEBUG_INFO