/**
 * @file Base.Core.config
 * @brief Configuration options for the Base Core module
 * 
 * This file contains CMake-defined configuration options that control
 * memory allocation behaviors and other Core module features.
 */
#pragma once

#cmakedefine ABYTEK_ENABLE_DEVELOPMENT_DATA @ABYTEK_ENABLE_DEVELOPMENT_DATA@

#cmakedefine ABYTEK_ENABLE_DEVELOPMENT_BUILD @ABYTEK_ENABLE_DEVELOPMENT_BUILD@
#ifdef ABYTEK_ENABLE_DEVELOPMENT_BUILD
#define ABYTEK_ENABLE_IF_DEVELOPMENT_BUILD(...) __VA_ARGS__
#define ABYTEK_ENABLE_IF_NOT_DEVELOPMENT_BUILD(...) 
#else
#define ABYTEK_ENABLE_IF_DEVELOPMENT_BUILD(...)
#define ABYTEK_ENABLE_IF_NOT_DEVELOPMENT_BUILD(...) __VA_ARGS__
#endif

/**
 * @def ABYTEK_BASE_CORE_ENABLE_MEMORY_ALLOCATION_INFO
 * @brief Enables tracking of memory allocation information
 */
#cmakedefine ABYTEK_BASE_CORE_ENABLE_MEMORY_ALLOCATION_INFO

#cmakedefine ABYTEK_BASE_CORE_ENABLE_STRING_ID_DEBUGGER

/**
 * @def ABYTEK_BASE_CORE_NAME_DATABASE_HASH_SIZE
 * @brief Defines the size of the name database hash table
 */
#cmakedefine ABYTEK_BASE_CORE_NAME_DATABASE_HASH_SIZE @ABYTEK_BASE_CORE_NAME_DATABASE_HASH_SIZE@