#pragma once

#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_SLANG
#cmakedefine ABYTEK_ENGINE_RHI_SLANG_DIR "@ABYTEK_ENGINE_RHI_SLANG_DIR@"

#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DRIVER_DEBUGGER
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_PROFILER

#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DIRECTX12
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DIRECTX11
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_VULKAN
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_OPENGL
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_WEBGPU
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_METAL

#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DIRECTX12_AGILITY
#cmakedefine ABYTEK_DIRECTX12_AGILITY_SDK_VERSION_MAJOR @ABYTEK_DIRECTX12_AGILITY_SDK_VERSION_MAJOR@
#cmakedefine ABYTEK_DIRECTX12_AGILITY_SDK_VERSION_MINOR @ABYTEK_DIRECTX12_AGILITY_SDK_VERSION_MINOR@
#cmakedefine ABYTEK_DIRECTX12_AGILITY_SDK_RUNTIME_RELATIVE_DIR "@ABYTEK_DIRECTX12_AGILITY_SDK_RUNTIME_RELATIVE_DIR@"

#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_PIX
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_NVTX

#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DIRECTX
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DXGI
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_DXC
#cmakedefine ABYTEK_ENGINE_RHI_ENABLE_SPIRV

#cmakedefine ABYTEK_ENABLE_DEVELOPMENT_BUILD